@model Entities.Contact

@{
    ViewData["Title"] = "İletişim";
}



<h1>İletişim </h1>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Contact" id="iletisim_formu" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
               @* <input type="submit" value="Gönder" class="btn btn-primary" />*@
                <input type="submit" value="Gönder" id="Button1" onclick="iletisim_formu" class="btn btn-primary" />
          
            </div>
        </form>
    </div>
    <div class="col-md-7">
     
        <p> Adres:   İstanbul / Türkiye</p>
        <p> Telefon: 0216 999 99 99</p>
        <p> Email: info@netcorewebapp.co</p>
       
    </div>
</div>

@{
    if (TempData["Mesaj"] != null)
    {
        <div class="alert alert-info">
            @TempData["Mesaj"]
        </div>
    }
}
<div class="alert alert-info" id="sonuc" style="display:none"></div>

@section Scripts{
    <script>
        function iletisim_formu() {
            var adSoyad = $("#Name").val();
            var email = $("#Email").val();
            var telefon = $("#Phone").val();
            var mesaj = $("#Message").val();

            var message = {
                "Name": adSoyad,
                "Email": email,
                "Phone": telefon,
                "Message": mesaj
            };

            $.ajax({
                type: "POST",
                url: "/Home/Contact",
                data: JSON.stringify(message),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#iletisim_formu")[0].reset();
                    $("#sonuc").show().html("Mesajınız başarıyla Gönderilmiştir...").delay(5000).fadeOut();
                },
                error: function (err) {
                    $("#sonuc").show().removeClass("alert-info").addClass("alert-danger").html("Hata oluştu! Mesajınız Gönderilemedi...").delay(10000).fadeOut();
                }
            });
        }
    </script>
}