@model Entities.Post

@{
    ViewData["Title"] = Model.Name + "İçerik Detayı";
}

<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
        <h2 class="featurette-heading ">@Model.Name</h2>
        <p class="lead">@Model.Content</p>
    </div>

  <div class="col-md-5 ">
    <img src="/Img/@Model.Image" alt="@Model.Name" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto " width="300" height="300" />
    </div>
    <hr class="featurette-divider" />
</div>


