@model IEnumerable<Entities.Post>

@{
    ViewData["Title"] = "İçerikler";
}

<h2 class="mt-5 mb-5 text-center">İçerikler</h2>
<hr class="featurette-divider">

@foreach (var item in Model)
{
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">@item.Name</h2>
            <p class="lead">@item.Content</p>
        </div>
        <div class="col-md-5">
            <a href="/PostS/Detail/@item.Id">
                <img src="/Img/@item.Image" alt="@item.Name" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" />
            </a>
        </div>
    </div>

    <hr class="featurette-divider">
}
<div/>
